@tailwind base;
@tailwind components;
@tailwind utilities;


select.form-select {
    background: #0f1535;
}

input.form-control .select2-selection__rendered {
    background: #0f1535;
}

[type='text'],
input:where(:not([type])),
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
    background: #0f1535;
    color: #fff;
}
